/* ----------------------------------- comman Styling ----------------------------------- */
*{
    border: 0;
    padding: 0;
    margin: 0;
    color:#f0ebd8;
}
span{
    color: blue;
}
/* ----------------------------------- comman styling end ! ----------------------------------- */


/* ----------------------------------- game restart button style ----------------------------------- */
button {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}
h1 {
    text-align:center;
    font-size: 18px;
}
button:hover {
    opacity: 0.8;
}
/* ----------------------------------- game restart style End ! ----------------------------------- */


/* ----------------------------------- styling the backgroung of the page ----------------------------------- */
body{
    text-align: center;
    background-color: #1d2d44;
}
/* ----------------------------------- styling background End ! ----------------------------------- */


/* ----------------------------------- styling the nav area which containg player details ----------------------------------- */
/* for now it is commented */
nav{
    height: 5vh;
    font-size: 20px;
}
/* ----------------------------------- nav styling End! ----------------------------------- */


/* ----------------------------------- player profile styling  ----------------------------------- */
/* player container styling  */
.players{
    height: 40vh;
    margin: 1rem 0rem;
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: space-between;
}

/* setting the players board */
.player1,.player2{
    display: flex;
    flex-wrap: wrap;
    height:20vh;
    width: 50vh;
}

/* revese the player2 board direction  */
.player2{
    display: flex;
    flex-direction:row-reverse;
}

/* setting the player logo container */
.player1 .playerlogo,.player2 .playerlogo{
    height: 100%;
    width: 20vh;
    border: 5px solid;
    border-image: linear-gradient(to right top, blue,white);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* setting the player logo icon */
.playerlogo i{
    font-size: 90px;
}

/* seting player score board */
.player1 .score,.player2 .score{
    height: 100%;
    width: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* setting the players score  */
.player1 .score h1,.player2 .score h1{
    text-align: center;
    font-size: 30px;
    width: 100%;
}
/* ----------------------------------- players profile styling end ! ----------------------------------- */


/* ----------------------------------- game board styling -----------------------------------  */
/* setting the game container  */
.container{
    height: 51vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* setting the game board  */
.game{
    height: 51vmin;
    width: 51vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

/* setting the game cells  */
.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.373);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

/* setting the hover effect on the cells  */
.box:hover{
    height: 16vmin;
    width: 16vmin;
    border: 2px solid rgba(2, 186, 247, 0.68);
}
/* ----------------------------------- game board styling End ! -----------------------------------*/


/* ----------------------------------- result board styling ----------------------------------- */
/* setting the result div */
.resultboard{
    margin-top: -1rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: fixed;
    z-index: 1;
}

/* setting the wiiner message div */
.winnerdisplay{
    width: 60%;
    text-align: center;
}

/* settig the winner message  */
.winnerdisplay h1{
    font: 30px;
    margin: 1rem 0rem;
    width: 100%;
}

/* setting the restart button div */
.winnerdisplay .restartbtn{
    width: 100%;
}

/* setting the restart button  */
.winnerdisplay .restartbtn button{
    width: 50%;
    font-size: large;
}
/* ----------------------------------- result board styling End ! ----------------------------------- */